html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

form {
  border: 1px solid #ccc;
  padding: 1rem;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

form button {
  display: block;
  padding: 0.5rem 1rem;
  background: hsl(120, 56%, 40%);
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 5rem;
  margin-left: auto;
}

header {
  background-color: teal;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  background-color: teal;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 1rem;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

/* index.html */

ul {
  list-style: none;
  width: 12rem;
}

li {
  text-align: right;
  padding: 12px 15px;
  width: 8rem;
  font-size: 20px;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.homeMain {
  margin-right: 30px;
}

.homeMainText {
  margin: 12px;
  padding: 8px 0;
  font-size: 20px;
}

.img {
  width: 12rem;
  float: left;
  padding: 10px 15px;
}

.firstPara::first-letter {
  font-size: 3rem;
}

/* index.html responsive */

@media screen and (max-width: 600px) {
  .mainContent {
    display: flex;
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-left: 20px;
  }

  li {
    text-align: left;
    width: auto;
    border-left: 1px solid grey;
  }
}

/* index.html responsive */

/* index.html */

/* about.html */
#aboutContent {
  display: flex;
  flex-direction: row;
}

#aboutHeader {
  font-size: 40px;
}

#aboutText {
  font-size: 24px;
}

/* about.html */

/* contact.html */

#contactMain {
  width: 100%;
  margin-right: 20px;
}

/* contact.html */
